@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
  --background: rgba(250, 250, 249, 1);     /* #fafaf9 */
  --background-50: rgba(250, 250, 249, 0.5);
  --foreground: rgba(12, 10, 9, 1);          /* #0c0a09 */
  --foreground-50: rgba(12, 10, 9, 0.5);
  --secondary: #d6d3d1;
  --details: #3d3d3d;
  --input: #d6d3d1;
  --border: #a8a29e;
  --accent: #ea580c;
  --success: #22c55e;
  --danger: #b91c1c;
  --danger-hover: #dc2626;
  --text: var(--foreground);
  --text-inverted: var(--background);
  --hover: #292524;
  --hover-foreground: #e7e5e4;
  --selected-row: var(--foreground);
  --error: #ef4444;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

html.dark {
  --background: rgba(12, 10, 9, 1);          /* #0c0a09 */
  --background-50: rgba(12, 10, 9, 0.3);
  --foreground: rgba(250, 250, 249, 1);      /* #fafaf9 */
  --foreground-50: rgba(250, 250, 249, 0.3);
  --secondary: #292524;
  --details: #757575;
  --input: #292524;
  --border: #57534e;
  --accent: #ea580c;
  --danger: #b91c1c;
  --danger-hover: #dc2626;
  --text: var(--foreground);
  --text-inverted: var(--background);
  --hover: #e7e5e4;
  --hover-foreground: #1c1917;
  --selected-row: var(--foreground);
  --error: #ef4444;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-poppins);
}

/* TOAST */
.Toastify__toast {
  background: var(--background-toast, var(--foreground)) !important;
  color: var(--foreground-toast, var(--background)) !important;
  border-radius: 0.5rem !important;
  font-family: var(--font-poppins);
}
.Toastify__toast--success {
  background: var(--success-toast, var(--foreground)) !important;
  color: var(--foreground-toast, var(--background)) !important;
}
.Toastify__toast--error {
  background: var(--error-toast, var(--danger)) !important;
  color: var(--foreground-toast, var(--background)) !important;
}


.Toastify__progress-bar {
  background: var(--progress-toast, var(--accent)) !important;
}
.Toastify__progress-bar--success {
  background: var(--progress-toast-success, var(--success-toast, var(--success))) !important;
}
.Toastify__progress-bar--error {
  background: var(--progress-toast-error, var(--error-toast, var(--danger))) !important;
}

/* Nasconde le frecce su/giù negli input number per Chrome, Edge, Safari */
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Per Firefox */
.input-no-spinner[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  /* BUTTON VARIANTS */
  .btn-primary {
    @apply bg-[var(--foreground)] text-[var(--text-inverted)]
  }
  .btn-primary:hover {
    @apply bg-[var(--hover)]
  }
  .btn-secondary {
    @apply bg-[var(--secondary)]
  }
  .btn-secondary:hover {
    @apply bg-[var(--hover-foreground)]
  }
  .btn-danger {
    @apply bg-[var(--danger)] text-white
  }
  .btn-danger:hover {
    @apply bg-[var(--danger-hover)] text-white
  }
  .btn-outline {
    @apply bg-transparent border-[var(--border)]
  }
  .btn-outline:hover {
    @apply bg-[var(--secondary)] border-transparent
  }
  .btn-ghost {
    @apply bg-transparent
  }
  .btn-ghost:hover {
    @apply bg-[var(--secondary)]
  }

  /* TABLE SELECTED ROWS */
  .row-interactive {
    @apply cursor-pointer border-x border-b border-dashed border-[var(--border)] transition-colors;
  }
  .row-interactive:nth-child(odd) {
    @apply bg-[var(--hover-foreground)];
  }
  .row-interactive:hover,
  .row-interactive[data-selected="true"] {
    @apply bg-[var(--selected-row)] text-[var(--text-inverted)];
  }

  /* TABLE PAGINATION */
  .pagination-btn {
    @apply px-1 py-1 border rounded border-dashed cursor-pointer transition-colors;
    @apply hover:bg-[var(--selected-row)] hover:text-[var(--text-inverted)];
    @apply disabled:opacity-30 disabled:hover:bg-transparent disabled:hover:text-inherit disabled:cursor-default;
  }
  .pagination-btn-active {
    @apply bg-[var(--foreground)] text-[var(--text-inverted)] border-solid border-white;
  }

  /* NAVBAR */
  .nav-link {
  @apply flex items-center cursor-pointer p-3 rounded-lg text-[var(--text)] hover:text-[var(--accent)] transition-colors text-lg border border-transparent hover:border hover:border-dashed hover:border-[var(--border)];
}
.nav-link-active {
  @apply flex items-center cursor-pointer p-3 rounded-lg bg-[var(--foreground)] text-[var(--text-inverted)] transition-colors text-lg hover:text-[var(--accent)];
}
  .nav-icon {
    @apply w-7 h-7 min-w-7 text-inherit group-hover:text-[var(--accent)] transition-colors;
  }
  .nav-icon-active {
    @apply w-7 h-7 min-w-7 text-inherit transition-colors;
  }
  .bottom-nav-icon {
    @apply w-5 h-5 min-w-5 text-inherit group-hover:text-[var(--accent)] transition-colors;
  }
  .bottom-nav-icon-active {
    @apply w-5 h-5 min-w-5 text-inherit transition-colors;
  }
}

